@font-face {
    src: url("fonts/AquireLight-YzE0o.otf");
    font-family: AquireLight;   
}


nav a{
    display: inline-block;
    text-decoration: none;
    
}

.block-1{
    font-family: AquireLight;
    width: 25%;
    width: 200px;
    height: 700px;
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
    position: absolute;
    top: 200px; left: 0px;
}

.block-2{
    font-family: AquireLight;
    width: 25%;
    min-width: 400px;
    min-height: 120px; 
    text-align: left;
    font-size: 20px;
    color: red;
    margin-top: 50px;
    margin-right:5px;
    margin-bottom: 20px;
    margin-left: 1070px;
    position: absolute;
    top: 150px; left: 40px;  
}

.block-3{
    width: 25%;
    min-width: 400px;
    min-height: 120px; 
    text-align: left;
    font-size: 20px;
    margin-top:60px;
    margin-right:5px;
    margin-bottom: 20px;
    margin-left: 1070px;
    position: absolute;
    top: 205px; left: 40px;  
}

.block-4{
    width: 65%;
    min-width: 200px;
    min-height: 220px; 
    text-align: left;
    margin-top:px;
    margin-right:5px;
    margin-bottom: 20px;
    margin-left: 1000px;
    position: absolute;
    top: 450px; right: 100px;  
}

.block-5{
    width: 25%;
    min-width: 300px;
    min-height: 1000px; 
    text-align: center;
    margin-top:px;
    margin-right:5px;
    margin-bottom: 20px;
    margin-left: 1000px;
    position: absolute;
    top: 450px; right: 1135px;  
}

.block-6{
    width: 65%;
    min-width: 200px;
    min-height: 220px; 
    text-align: left;
    margin-top:px;
    margin-right:5px;
    margin-bottom: 20px;
    margin-left: 1000px;
    position: absolute;
    top: 700px; right: 100px;  
}

.cv{
    text-align: center;
    color: red;
    font-size:30px;
    font-family: AquireLight;
}

h1{
    font-size: 30px;
    color : rgb(179, 31, 31);
}


body{
    background-image: url("img/1481561777kul.gif");
    background-size: cover;
    background-attachment:fixed; 
}