@font-face {
    src: url(fonts/AquireLight-YzE0o.otf);
    font-family: AquireLight;
}

body {
    margin: 0;
    padding: 0;
    background: url(img/ruelle_wating.gif) no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
}

.reset {
    width: 700px;
    height: 150px;
    background-color: rgba(24, 24, 102, 0.486);
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    background-size: cover;
    border-radius: 20px;
    font-family: AquireLight;
}

.space {
    display: flex;
    justify-content: space-between;
}

.resethere {
    margin: 0px;
    padding: 0 0 5px;
    text-align: center;
    font-size: 20px;
}

.reset input {
    width: 100%;
    margin-bottom: 15px;
}

.reset input[type="text"], input[type="password"]{
    color: white;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 25px;
    font-family: AquireLight;
}

.reset input[type="submit"] {
    border: none;
    outline: none;
    height: 30px;
    background: paleturquoise;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    font-family: AquireLight;
}

.reset input[type="submit"]:hover{
    cursor: pointer;
    background: rgba(26, 19, 117, 0.651);
    color: white;
}

.reset a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkblue;
}

